@import '../vars';

.opensource__wrapper {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.opensource__box {
  width: 50%;
  padding: 45px;
  min-height: 550px;
}

.opensource__box--left {
  display: grid;
  justify-content: center;
  align-content: center;
}

.opensource__title {
  margin-bottom: 30px;
}

.opensource__text {
  margin-bottom: 30px;
}

.opensource__box--right {
  position: relative;
  max-width: 550px;
  height: 550px;
  margin: 0 auto;
  min-height: 550px;
}

.opensource__image {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.rotate-forwards {
    animation: rotate-forwards 150s linear infinite;
  }

  &.rotate-backwards {
    animation: rotate-backwards 150s linear infinite;
  }
}

@media (max-width: 850px) {
  .opensource__wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .opensource__box {
    width: 100%;
    min-height: unset;
  }
  
  .opensource__box--right {
    // height: 80vw;s
  }

  .opensource__title,
  .opensource__text {
    text-align: center;
  }

  .opensource__button {
    margin: 0 auto;
  }
  }

  @keyframes rotate-forwards {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @keyframes rotate-backwards {
    from {
      transform: translate(-50%, -50%) rotate(360deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }