@import '../vars';

/* ------------------------------------------ */
/* -- LAYOUT
/* ------------------------------------------ */

.page-layout {
  width: 100vw;
  height: 100vh;
}
.limiter-layout {
  width: 100%;
  border: 1px solid lightseagreen;
  max-width: $max-width;
  margin: 0 auto;
}