@font-face {
  font-family: "Open-Sans Light";
  src:
    local('fonts/open-sans'), url("/fonts/open-sans/OpenSans-Light.ttf") format("ttf"),
    local('fonts/open-sans'), url("/fonts/open-sans/OpenSans-Light.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "Open-Sans Regular";
  src:
    local('fonts/open-sans'), url("/fonts/open-sans/OpenSans-Regular.ttf") format("ttf"),
    local('fonts/open-sans'), url("/fonts/open-sans/OpenSans-Regular.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "Open-Sans Semibold";
  src:
    local('fonts/open-sans'), url("/fonts/open-sans/OpenSans-SemiBold.ttf") format("ttf"),
    local('fonts/open-sans'), url("/fonts/open-sans/OpenSans-SemiBold.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "Open-Sans Bold";
  src:
    local('fonts/open-sans'), url("/fonts/open-sans/OpenSans-Bold.ttf") format("ttf"),
    local('fonts/open-sans'), url("/fonts/open-sans/OpenSans-Bold.woff") format("woff");
  font-display: block;
}

@font-face {
  font-family: "Open-Sans Extrabold";
  src:
    local('fonts/open-sans'), url("/fonts/open-sans/OpenSans-ExtraBold.ttf") format("ttf"),
    local('fonts/open-sans'), url("/fonts/open-sans/OpenSans-ExtraBold.woff") format("woff");
  font-display: block;
}
