@import 'vars';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: $font-regular;
  color: $black;
  line-height: $default-line-height;
  scrollbar-width: none;
  scroll-behavior: smooth;
  cursor: url('/cursor/arrow.svg') 0 0,
  auto !important;
  -webkit-appearance: none;
}

*::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

body {
	background-color: red;
}

.list__item {
  font-size: $font-medium;
  line-height: 2;
}

/* ------------------------------------------ */
/* -- BACKGROUND COLOR
/* ------------------------------------------ */

.background-color-black {
  background-color: $black;
}

.background-color-yellow {
  background-color: $yellow;
}

.background-color-green {
  background-color: $green;
}

.background-color-white {
  background-color: $white;
}

.background-color-grey {
  background-color: $grey;
}

/* ------------------------------------------ */
/* -- FONT COLOR
/* ------------------------------------------ */

.font-color-black {
  color: $black;
}

.font-color-yellow {
  color: $yellow;
}

.font-color-green {
  color: $green;
}

.font-color-white {
  color: $white;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}