// COLORS
$black: #0c080e;
$white: #ffffff;
$yellow: #ffca0d;
$green: #008281;
$grey: #ECECEC;

// FONTS
$font-light: 'Open-Sans Light';
$font-regular: 'Open-Sans Regular';
$font-semibold: 'Open-Sans Semibold';
$font-bold: 'Open-Sans Bold';
$font-extrabold: 'Open-Sans Extrabold';
$default-font-color: $black;
$default-line-height: 1.5;

// FONT-SIZES 
$font-small: 12px;
$font-medium: 16px;
$font-big: 20px;

// LAYOUT 
$max-width: 1100px;