// COLORS
$black: #0c080e;
$white: #ffffff;
$yellow: #ffca0d;
$green: #008281;

// FONTS
$font-light: 'Open-Sans Light';
$font-regular: 'Open-Sans Regular';
$font-semibold: 'Open-Sans Semibold';
$font-bold: 'Open-Sans Bold';
$font-extrabold: 'Open-Sans Extrabold';
$default-font-color: $black;

// LAYOUT 
$max-width: 1440px;