// COLORS
$black: #0c080e;
$white: #ffffff;
$yellow: #ffca0d;
$green: #008281;

// FONTS
$default-font-family: 'Open-Sans Regular',
sans-serif;
$default-font-color: $black;

// LAYOUT 
$max-width: 1440px;